---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="U-18のプログラムを集めた魔法のスプレッドシート" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="https://gorira-tatsu.github.io/magic-spreadsheet-u18/og-image.jpg" />
		<meta name="generator" content={Astro.generator} />
		<meta charset="UTF-8">
		<meta name="description" content="高校生以下を対象とした教育プログラム、コンテスト、イベントの一覧を提供するウェブサイトです。">
		
		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://gorira-tatsu.github.io/magic-spreadsheet-u18/">
		<meta property="og:title" content="魔法のスプレッドシート U18 - 高校生以下向けプログラム一覧">
		<meta property="og:description" content="高校生以下を対象とした教育プログラム、コンテスト、イベントの一覧を提供するウェブサイトです。">
		<meta property="og:image" content="https://gorira-tatsu.github.io/magic-spreadsheet-u18/og-image.jpg">
	
		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content="https://gorira-tatsu.github.io/magic-spreadsheet-u18/">
		<meta property="twitter:title" content="魔法のスプレッドシート U18 - 高校生以下向けプログラム一覧">
		<meta property="twitter:description" content="高校生以下を対象とした教育プログラム、コンテスト、イベントの一覧を提供するウェブサイトです。">
		<meta property="twitter:image" content="https://gorira-tatsu.github.io/magic-spreadsheet-u18/og-image.jpg">
	
		<!-- その他のメタタグ -->
		<meta name="keywords" content="高校生, 中学生, 小学生, 教育プログラム, コンテスト, イベント, U18">
		<meta name="author" content="魔法のスプレッドシート U18">
		<link rel="canonical" href="https://gorira-tatsu.github.io/magic-spreadsheet-u18/">
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>